<tr class="city <%- _.camelCase(properties.name) %>">
  <td>
    <h2 class="action-toggle">
      <span class="action action-minimize start-hidden">
        <i class="icon icon-minus"></i>
      </span>
      <span class="action action-maximize">
        <i class="icon icon-plus"></i>
      </span>
      <%= properties.name %>
    </h2>
  </td>
  <td>
    <a class="button" href="<%= properties.base %>aggregations.csv?<%= properties.params.day5m%>"><i class="fa fa-table"></i> 5m</a>
    <a class="button" href="<%= properties.base %>aggregations.csv?<%= properties.params.day1h%>"><i class="fa fa-table"></i> 1h</a>
  </td>
  <td>
    <a class="button" href="<%= properties.base %>aggregations.csv?<%= properties.params.week1h%>"><i class="fa fa-table"></i> 1h</a>
    <a class="button" href="<%= properties.base %>aggregations.csv?<%= properties.params.week6h%>"><i class="fa fa-table"></i> 6h</a>
  </td>
  <td>
    <code><%= properties.name %></code>
  </td>
</tr>
