<div class="pure-g">
    <div class="pure-u-1">
      <div class="header">
        <h3>
          <%= meta.name %>
          <span class="action action-show-info">
            <i class="fa fa-info-circle"></i>
          </span>
          <span class="action action-minimize">
            <i class="fa fa-minus-square-o"></i>
          </span>
          <span class="action action-maximize start-hidden">
            <i class="fa fa-plus-square-o"></i>
          </span>
        </h3>

        <div class="description start-hidden">
          <p><%= meta.description %></p>
        </div>
      </div>
    </div>
    <div class="pure-u-1">
      <div class="measure-graph ct-chart">
        <div class="action action-time graph-back"><i class="fa fa-angle-left"></i></div>
        <div class="action action-time graph-forward"><i class="fa fa-angle-right"></i></div>
      </div>
    </div>
</div>
