<div class="pure-g">
    <div class="pure-u-1">
      <div class="header">
        <h3>
          <%= meta.name %>
          <% if(meta.description) { %>
          <span class="action action-show-info">
            <i class="icon icon-info"></i>
          </span>
          <% } %>

          <div class="spinner spinner-small start-hidden"></div>

          <span class="action action-minimize">
            <i class="icon icon-minus"></i>
          </span>
          <span class="action action-maximize start-hidden">
            <i class="icon icon-plus"></i>
          </span>
        </h3>


        <div class="description start-hidden">
          <p><%= meta.description %></p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 graph-container">
      <div class="action action-time graph-back">
        <i class="icon icon-left"></i>
      </div>
      <div class="action action-time graph-forward">
        <i class="icon icon-right"></i>
      </div>
      <div class="measure-graph ct-chart">
      </div>
    </div>
</div>
