<td>
  <h3 class="action-source-toggle">
    <%= name %>
  </h3>
</td>


<td>
  <a class="button" href="<%= properties.base %>aggregations.csv?<%= properties.params.day5m%>"><i class="fa fa-table"></i> 5m</a>
  <a class="button" href="<%= properties.base %>aggregations.csv?<%= properties.params.day1h%>"><i class="fa fa-table"></i> 1h</a>
</td>
<td>
  <a class="button" href="<%= properties.base %>aggregations.csv?<%= properties.params.week1h %>"><i class="fa fa-table"></i> 1h</a>
  <a class="button" href="<%= properties.base %>aggregations.csv?<%= properties.params.week6h%>"><i class="fa fa-table"></i> 6h</a>
</td>


<td>
  <code><%= id %></code>
</td>
