<div class="pure-g">
  <div class="pure-u-1-5">
    <div class="toolbox">
      <h3>Display</h3>
      <a href="#" class="button active">Graphs</a>
      <a href="#" class="button">Raw Data</a>
    </div>
  </div>
  <div class="pure-u-1-5">
    <div class="toolbox">
      <h3>Time</h3>
      <a href="#" class="button">Hour</a>
      <a href="#" class="button active">Day</a>
      <a href="#" class="button">Week</a>
    </div>
  </div>
  <div class="pure-u-3-5">
    <div class="toolbox">
      <h3>City list will go here and this header will go away</h3>
      <a href="#" class="button">City</a>
      <a href="#" class="button">City</a>
      <a href="#" class="button">City</a>
    </div>
  </div>
</div>
