/*******************************************************************************
 * _base.scss

 * Base styles define the default look.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 ******************************************************************************/

body {
  background: $background-light-color;
  color: $body-color;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1em;
}

strong {
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: $primary-color;
}


#map {
  height: 514px;
  background: $primary-color;
  margin-left: 20%;

  .leaflet-popup-tip,
  .leaflet-popup-content-wrapper {
    font-family: $font-family;
    background: $background-color;
    border-radius: 0;
    font-size: 1rem;

    .leaflet-popup-content {
      width: auto !important;
    }

    a {
     border-bottom: 1px solid $primary-color;
    }
  }

  .leaflet-control-zoom {
    overflow: auto;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid $background-color;

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
      float: left;
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 0;
      color: $body-color;
      border: 0px none;
    }

    .leaflet-control-zoom-in:hover,
    .leaflet-control-zoom-out:hover {
      background: $background-color;
      color: $primary-color
    }

    .leaflet-disabled.leaflet-control-zoom-in,
    .leaflet-disabled.leaflet-control-zoom-out,
    .leaflet-disabled.leaflet-control-zoom-in:hover,
    .leaflet-disabled.leaflet-control-zoom-out:hover {
      background: #fff;
      color: $inactive-color;
      border: 0px none;
    }
  }
}

.graph {
  margin: 2rem;

  .tools {
    font-size: 2rem;
    padding: 1rem;
    background: $primary-color;
    color: #fff;
  }
}

.start-hidden,
.print {
  display: none;
}

