/*******************************************************************************
 * _base.scss

 * Base styles define the default look.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 ******************************************************************************/

@import "lib/_base.scss";
@import "lib/_grids.scss";
@import "lib/_grids-responsive.scss";
@import "lib/_menus.scss";
@import "lib/_chartist.scss";

@import "components.scss";

body {
  background: $background-color;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1em;
}

strong {
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}


#map {
  height: 350px;
  background: $primary-color;
}

.graph {
  margin: 2rem;

  .tools {
    font-size: 2rem;
    padding: 1rem;
    background: $primary-color;
    color: #fff;
  }
}


.print{
  display: none;
}
