.pure-menu.pure-menu-open {
  background: $background-color;
  color: $background-light-color;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid $landmass-white;
  padding: $minipad inherit;

  a,
  li,
  .pure-menu-selected a,
  .pure-menu-selected {
    background: $background-color;
    color: $background-light-color;
  }

  a:hover {
    color: $primary-color;
  }
}

header {
  position: relative;
}

footer {
  background: $background-color;
  padding: $pad;
  overflow: auto;
  color: $landmass-white;

  .logo {
    float: right;
    background: $background-light-color;
  }
}

#main-region {
  .measures {
    padding: $minipad $pad $pad $pad;

    .measure {
      background: #fff;
      padding: $pad;
      margin-bottom: $pad;

      .header {
        .description {
          padding-bottom: $pad;
        }

        .description.active {
          display: block;
        }

        .action-minimize,
        .action-maximize {
          float: right;
        }
      }

      .measure-graph {
        margin-top: $pad;
      }

      /* Graph styles */
      .ct-chart .ct-line {
        stroke-width: 2;
      }

      .ct-chart .ct-series.ct-series-a .ct-bar,
      .ct-chart .ct-series.ct-series-a .ct-line,
      .ct-chart .ct-series.ct-series-a .ct-point,
      .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
        stroke: $primary-color;
      }
    }
  }

  #city-overview {
    padding: $pad $pad $pad/2 $pad;

    h2 {
      font-size: $hsize;
      line-height: 1.5em;
    }
  }
}


.overview {
  display: inline-block;

  .measure {
    display: inline-block;
    padding-right: $pad;

    h3 {
    }

    .name {
      font-weight: normal;
      font-size: 1em;
      color: $inactive-color;
    }

    .value {
      font-size: 1.5em;
      color: $orange;
    }
  }
}


.entry-table {
  padding: 0 $pad $pad $pad;

  table {
    width: 100%;

    td,
    th {
      line-height: 2em;
      padding-left: $minipad
    }

    th {
      text-align: left;
      border-bottom: 4px solid $background-color;
      padding-right: $pad;
    }

    tbody tr:nth-child(odd) {
       background: #fff;
    }

    tbody tr:hover {
      background: $primary-light-color;
    }
  }
}



.action {
  cursor: pointer;
  color: $inactive-color;
  font-size: 0.75em; // slightly smaller than its parent
}

.action.active,
.action:hover {
  color: $active-color;
}
