.pure-menu.pure-menu-open {
  background: $body-color;
  color: $landmass-white;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid $landmass-white;
  padding: $minipad inherit;

  a,
  .pure-menu-selected a,
  .pure-menu-selected {
    background: $body-color;
    color: $landmass-white;
  }
}


#header {
  position: relative;
}

#main-region {

  .measures {
    padding: $minipad $pad $pad $pad;

    .measure {
      background: #fff;
      padding: $pad;
      margin-bottom: $pad;


      .header {
        padding-bottom: $pad;
        h3 {
          display: inline-block;
        }
      }

      /* Graph styles */
      .ct-chart .ct-line {
        stroke-width: 2;
      }

      .ct-chart .ct-series.ct-series-a .ct-bar,
      .ct-chart .ct-series.ct-series-a .ct-line,
      .ct-chart .ct-series.ct-series-a .ct-point,
      .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
        stroke: $primary-color;
      }
    }
  }

  #city-overview {
    padding: 10px 40px;
    background: #fff;

    h2 {
      font-size: $hsize;
      float: left;
      padding-right: $pad * 1.5;
      line-height: 1.5em;
    }
  }

  .overview {
    display: inline-block;

    .measure {
      display: inline-block;
      padding-right: $pad;

      h3 {
      }

      .name {
        font-weight: normal;
        font-size: 1em;
        color: $inactive-color;
      }

      .value {
        font-size: 1.5em;
        color: $orange;
      }
    }
  }

  .tools {
    padding: $minipad $pad - $minipad 0 $pad;

    .toolbox {
      background: #fff;
      padding: $minipad;
      margin-right: $minipad;

      h3 {
        font-size: 1em;
        font-weight: normal;
        color: $inactive-color;
      }

      .button {
        display: inline-block;
        padding: 3px 5px;
        border-radius: 3px;
        font-weight: bold;
        text-transform: uppercase;
        color: lighten($body-color, 30%);
      }

      .button:hover,
      .button.active {
        background: $background-color;
        color: $body-color;
      }
    }
  }
}

.sparklines {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 275px;
  z-index: 10000;
  background: $body-color;
  color: $primary-color;

  h2 {
    color: #fff;
    padding: 12px 12px 0 12px;
  }

  .sparkline {
    padding: 12px 12px 0px 12px;

    .name {
      color: #fff;
      font-size: 0.9rem;
      font-weight: normal;
    }

    .value {
      font-size: 1.5rem;
    }

    .unit {
      font-weight: normal;
      font-size: 0.75rem;
    }

    .ct-chart .ct-line {
      stroke-width: 2;
    }

    .ct-chart .ct-series.ct-series-a .ct-bar,
    .ct-chart .ct-series.ct-series-a .ct-line,
    .ct-chart .ct-series.ct-series-a .ct-point,
    .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
      stroke: #fff;
    }

    .measure-graph {
      height: 50px;
    }
  }
}

.action {
  color: $inactive-color;
  font-size: 0.75em; // slightly smaller than its parent
}

.action:hover {
  color: $active-color;
}
