.icon {
  height: 23px;
  width: 23px;
  display: inline-block;
  background-color: transparent;
}

.icon.icon-info {
  background: transparent url(../img/icons/info-gray.svg) no-repeat left bottom;
}

.icon.icon-minus {
  background: transparent url(../img/icons/minus.svg) no-repeat center 3px;
}

.icon.icon-plus {
  background: transparent url(../img/icons/plus.svg) no-repeat center 3px;
}

.icon.icon-plus.icon-white {
  background: transparent url(../img/icons/plus-white.svg) no-repeat center 3px;
}


.icon.icon-right {
  background: transparent url(../img/icons/right.svg) no-repeat center 3px;
}

.icon.icon-left {
  background: transparent url(../img/icons/left.svg) no-repeat center 3px;
}
