.icon {
  height: 35px;
  width: 40px;
  display: inline-block;
  background-color: transparent;
}

.icon.icon-info {
  background: transparent url(../img/icons/info-gray.svg) no-repeat left bottom;
}

.icon.icon-minus {
  background: transparent url(../img/icons/minus.svg) no-repeat center center;
}

.icon.icon-plus {
  background: transparent url(../img/icons/plus.svg) no-repeat center center;
}
