.sparklines {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  z-index: 10000;
  background: $background-color;
  color: #fff;

  h2 {
    color: #fff;
    padding: $midpad $pad 0 $pad;
  }

  p {
    font-size: $minisize;
    margin: $minipad $pad;
    color: $inactive-color;
  }

  .sparkline {
    background: lighten($background-color, 3%);
    padding: $minipad $pad $minipad $pad;

    .name {
      color: #fff;
      font-size: $minisize;
      font-weight: normal;
    }

    .value {
      color: $primary-color;
      font-size: 2rem;
      line-height: 1em;
      padding-left: $pad;
    }

    .unit {
      color: $inactive-color;
      display: block;
      font-weight: normal;
      font-size: $minisize;
      line-height: 1em;
    }

    .ct-chart .ct-line {
      stroke-width: 2;
    }

    .ct-chart .ct-series.ct-series-a .ct-bar,
    .ct-chart .ct-series.ct-series-a .ct-line,
    .ct-chart .ct-series.ct-series-a .ct-point,
    .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
      stroke: $primary-color;
      opacity: 0.8;
    }

    .measure-graph {
      height: 40px;
    }
  }
}

.sparkline:nth-child(even) {
  background: lighten($background-color, 8%);
}
