.sparkline-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  z-index: 10000;
  background: $background-color;
  color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;

  h2 {
    color: #fff;
    padding: $midpad $pad 0 $pad;
    height: 2rem;
    overflow: hidden;
  }

  p {
    font-size: $minisize;
    margin: $minipad $pad;
    color: $inactive-color;
  }

  .sparkline {
    background: lighten($background-color, 2%);
    padding: $minipad $pad $minipad $pad;
    overflow: auto;

    .line {
      display: inline-block;
      width: 40%;
      float: left;
    }

    .name {
      color: #fff;
      font-size: $minisize;
      font-weight: normal;
    }

    .value {
      display: inline-block;
      color: $primary-color;
      font-size: 2rem;
      line-height: 1em;
      padding-left: $pad;
    }

    .unit {
      color: $inactive-color;
      display: block;
      font-weight: normal;
      font-size: $minisize;
      line-height: 1em;
    }

    .ct-chart .ct-line {
      stroke-width: 2;
    }

    .ct-chart .ct-series.ct-series-a .ct-bar,
    .ct-chart .ct-series.ct-series-a .ct-line,
    .ct-chart .ct-series.ct-series-a .ct-point,
    .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
      stroke: $primary-color;
      opacity: 0.8;
    }

    .measure-graph {
      height: 40px;
    }
  }

  @media only screen
  and (max-width : $max-width) {
    position: static;
    width: auto;

    .sparkline {
      width: 44%;
      padding: $minipad 3% $minipad 3%;
      display: inline-block;
      margin-bottom: -4px;
    }
  }
}

.sparkline:nth-child(even) {
  background: lighten($background-color, 4%);
}

@media only screen
and (max-width : $max-width) {
  .sparkline:nth-child(1),
  .sparkline:nth-child(4),
  .sparkline:nth-child(5) {
    background: lighten($background-color, 2%);
  }

  .sparkline:nth-child(2),
  .sparkline:nth-child(3),
  .sparkline:nth-child(6) {
    background: lighten($background-color, 4%);
  }
}

