/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/

$font-family: "Source Sans Pro", Helvetica, sans-serif;

$background-color: #231f20;
$background-light-color: #e6e7e8;
$body-color: #414042; // was
$primary-color: #26e3b9;
$primary-light-color: #9cf3e3;
$active-color: #eed162;
$inactive-color: #bcbfc0;
$orange: #f9af48;
$landmass-white: #f3f3f3;

$pad: 16px;
$midpad: 12px;
$minipad: 6px;

$minisize: 0.9rem;
$hsize: 2rem;

@import "font-awesome.min.css";

